@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PocketMonk';
  src: url('/fonts/pocket-monk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gameboy';
  src: url('/fonts/gameboy-text.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
